<nav class="navbar" id="navbar-style">
  <a class="navbar-brand" href="/">BugTesters
   <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
  <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
  </svg>
  </a>
  <span class="navbar-text">
      Need an Account? &nbsp; <a class="navbar-brand" href="/signup">&nbsp; Create Account</a>
    </span>
</nav>
<br>

<style>

#navbar-style {
    background-color: rgba(0, 0, 0, 0.24);
    border-bottom: black solid 1.5px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1430651717504-ebb9e3e6795e?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NzZ8MTQxNzA2fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
    text-align: center;
}

form {
    border: 3px solid #f1f1f1;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(143, 137, 137);
    transition: 0.3s;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.76)
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

</style>

<br>
<br>

    <h2>Welcome to BugTesters</h2>

    <p><h5></h5></p>
</div>

<br>
<br>
<br>

<body>

<h2>Please Login</h2>
<br>

    <form action="/login" method="POST">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" class="form-control" name="username">

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" class="form-control" name="password">
                
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
    </form>


{{!-- <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Login</h1>

        <!-- LOGIN FORM -->
        <form action="/login" method="POST">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>
</div> --}}